import { Record } from "immutable";
import { IJSON } from "@aicacia/json";
import { state } from "../../lib/state";
import {
  STORE_NAME,
  I{{ properCase name }}JSON,
  {{ properCase name }}
} from "./definitions";

export const store = state.getStore(STORE_NAME);

store.fromJSON = (json: IJSON) => {
  const {{ camelCase name }}JSON: I{{ properCase name }}JSON = json as any;
  return {{ properCase name }}({{ camelCase name }}JSON);
};